<aside>
  <div class="top">
    <div class="logo">
      <img src="../../../../assets/icons/logo.png" alt="Logo">
      <h2>ET <span class="danger">HER</span></h2>
    </div>
    <div class="close" id="close-btn">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="sidebar">
    <a href="">
      <i class="fa-solid fa-table-columns"></i>
      <h3>Dashboard</h3>
    </a>
    <a href="">
      <i class="fa-solid fa-user"></i>
      <h3>Customers</h3>
    </a>
    <a href="">
      <i class="fa-solid fa-list-check"></i>
      <h3>Orders</h3>
    </a>
    <a href="">
      <i class="fa-solid fa-chart-line"></i>
      <h3>Analytics</h3>
    </a>
    <a href="">
      <i class="fa-solid fa-message"></i>
      <h3>Messages</h3>
      <span class="message-count">32</span>
    </a>
    <a href="">
      <i class="fa-solid fa-cart-circle-plus"></i>
      <h3>Products</h3>
    </a>
    <a href="">
      <i class="fa-solid fa-gears"></i>
      <h3>Settings</h3>
    </a>
  </div>
</aside>
